/.DS_Store/
/build/
/.idea/
/.PVS-Studio
/cmake-build-debug/
/cmake-build-minsizerel/
/cmake-build-release/
/cmake-build-relwithdebinfo/
/**/*.exe
/**/*.pdb
/bin/*.ini
/bin/*.xml
/bin/output/
/bin/output/
